
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

.modalTabela{
    width: 100%;
    display: flex;
}

li{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}


.pokeType{
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: aqua; 
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px;
}

.bug{
    background: #3B9950;
}

.fire{
    background: #FD4C5A;
}

.grass{
    background: #27CB4F;
}

.poison{
    background: #9B69D9;
}

.fliyng{
    background: #93B2C7;
}

.water{
    background: #86A9FA;
}

.dark{
    background: #5A5979;
}

.dragon{
    background: #5ECCD9;
}

.eletric{
    background: #FBFB72;
}

.fairy{
    background: #EA1369;
}

.fighting{
    background: #EF6138;
}

.ghost{
    background: #906790;
}

.ground{
    background: #6E491F;
}

.ice{
    background: #DAEFF9;
}

.normal{
    background: #C999A7;
}

.psychic{
    background: #F81C91;
}

.rock{
    background: #8B3E21;
}

.steel{
    background: #41BD94;
}