
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');


.PokeMainColor{
    color: #0F0F2E;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.TitleName{
    margin-bottom: 30px;
}

.pokeId{
    color: rgba(29, 21, 113, 0.4);
    font-size: 20px;
    font-weight: bold;
}

.title{
    font-weight: bold;
    margin: 25px 12px;
    font-size: 16px;
}

.modalTabela{
    width: 100%;
    display: flex;
    height: 400px;
}

table{
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing='10px');
}

p img{
    height: 116px;
    width: 126px;
}

table tr{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.atrPrincipal td{
    margin: 12px 12px 12px 12px;
    padding: 8px;
}

.atrStat td{
    margin: 12px 12px 12px 12px;
    padding: 5px;
}

.pokeType{
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: aqua; 
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px;
}

.pokeId{
    font-weight: bold;
    color: rgba(29, 21, 113, 0.4);
}

.bug{
    background: #3B9950;
}

.fire{
    background: #FD4C5A;
}

.grass{
    background: #27CB4F;
}

.poison{
    background: #9B69D9;
}

.fliyng{
    background: #93B2C7;
}

.water{
    background: #86A9FA;
}

.dark{
    background: #5A5979;
}

.dragon{
    background: #5ECCD9;
}

.electric{
    background: #FBFB72;
}

.fairy{
    background: #EA1369;
}

.fighting{
    background: #EF6138;
}

.ghost{
    background: #906790;
}

.ground{
    background: #6E491F;
}

.ice{
    background: #DAEFF9;
}

.normal{
    background: #C999A7;
}

.psychic{
    background: #F81C91;
}

.rock{
    background: #8B3E21;
}

.steel{
    background: #41BD94;
}